{% extends "price/common.html" %}
{% load static %}



{% block title %}My amazing blog{% endblock %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
<script src="{% static 'js/chart_load.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="sub_header">
  <div>
    <input type="button" value="추가" onclick="create_table_input_row()"/>
    <input type="button" value="저장" onclick="save_urls()"/>
    
  </div>

</div>
<div class="content">
  <div id="url_list">
  </div>
</div>
{% endblock %}